.gradient-custom {
  background: linear-gradient(to right, rgba(141, 219, 238, 0.5), rgba(58, 202, 238, 0.5))
}

.springs-list li {
  color: black;
  list-style-type: none;
}

.map{
  height:400px;
  width:100%;
}

select {
background-color: white;
border: thin solid black;
border-radius: 4px;
display: inline-block;
font: inherit;
line-height: 1.5em;
padding: 0.5em 3.5em 0.5em 1em;
}

.springs-container{
border-radius: 4px;
margin-top: 2%;
}

.mt-3 {
margin-top: .3em;
}

.springcard{
border-radius: 3px;
padding: 5px;
width: 27%;
}

.springcard h2{
font-size: x-large;
}

ul {
list-style-type: none;
}

li {
font-size: small;
}

.wicon {
float: right;
}

.card-image{
height: 250px;
width: 329px;
}